@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  /* COLORS */
  --primary-color: #053b50;
  --secondary-color: #176b87;
  --ternary-color: #64ccc5;
  --hover-color: #7c81ad;
  --white-color: #ffffff;
}

/* Start Global Styling  */

*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

html {
font-size: 62.5%;
}

body {
font-family: "Cormorant", serif;
display: flex;
flex-direction: column;
min-height: 100vh;
}

.container_footer{
width: 117rem;
padding: 1rem;
margin: 0 auto;
}

a{
  text-decoration: none;
color: white;
}

footer {
  margin-top: auto;
  max-height: 100vh;
  background-color: #343a40;
  color: white;
}
i{
  font-size: 1.5rem;
  margin-left: 0.25rem;
}
.navbar {
  font-size: 2rem;
}
.nav-item {
  font-size: 2rem;
}
.form-control {
  font-size: 2rem;
}
.btn {
  font-size: 2rem;
}
.container {
  font-size: 2rem;
}
.row{
  font-size: 2rem;
}
i {
  font-size: 2.5rem;
}
.col-md-12 {
  font-size: 2rem;
}
.follow {
  font-size: rem;
}
h5{
  font-size: 3rem;
}

.form{
    width: 400px;
    height: 600px;
    position: relative;
    background: #198754;
    margin: 6% auto;
    padding: 5px;
    overflow: hidden;
    border: 1px solid white;
    border-radius: 3rem;
    box-shadow: 0 0 50px red; /* Adjust the shadow properties as needed */

}

.button{
    width: 240px;
    margin: 40px 80px;
    position: relative;
    box-shadow: 0 0 20px 9px #d40e99;
    letter-spacing: 1px;
    border-radius: 30px;
}


.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    transition: 0.7s ease;
    font-size: 2rem;

}

.toggle-btn:hover{
    transform: scale(1.1);
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 130px;
    height: 100%;
    background: linear-gradient(to right,#574e50, #574e50);
    border-radius:30px;
    transition: .5s;
}



.socials  a{
    color: #dc0a9f;
    font-size: 1.5em;
    margin-left: 73px;
    justify-content: space-between;
    
    
}

/* .group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: 0.5s;
  ;
} */

.group {
  top: 40%; /* Adjust the positioning */
  position: absolute;
  width: 280px;
  transform: translate(10%);
  left: 50%;
  transition: 0.5s;

  text-align: center;
}

.input{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
.input,
span,
.submit {
    font-size: 20px; 
}


.submit{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-top: 50px;
    background: #d40e99;
    border: 0;
    outline: none;
    border-radius: 30px;
    transition: 0.7s ease;
}

.submit:hover{
    transform: scale(1.1);
}
.remember-group {
  text-align: left; /* Adjust alignment as needed */
  margin-top: 10px; /* Adjust spacing as needed */
}
.checkbox{
    margin: 30px 10px 30px 0;
    display: inline-block;
    margin-right: 5px;
  }
span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    margin: auto;
    display: flex;
    display: inline-block;
    vertical-align: middle; /* Align text vertically with the checkbox */
    font-size: 14px; 
}
#login{
    left: 50px;
}
#register{
    left: 500px;
}
